## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [1]:
import numpy as np

from scipy import stats
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

np.random.normal(loc=0.0, scale=1.0, size=None)  #you need to modify this code.

loc will be equal to mean, scale will be equal to std deviation, size will be equal to sample size.

In [ ]:
import random
import numpy as np

In [8]:
samples = np.random.normal(loc=100, scale=15, size=1000)
samples

array([ 74.9040499 , 101.10335587,  98.91760573,  90.22880039,
        96.2529715 ,  80.75393997,  86.45952166,  97.25218815,
       114.37123701, 109.9629513 , 107.89926184, 118.54344808,
        98.63888883, 114.24775187,  85.03462122,  82.68666714,
        99.02058073,  92.56572605,  72.39622075,  93.85665518,
       115.40482795,  81.57052565, 122.10446564, 111.49568242,
       107.65490008, 105.20666838,  94.64721167, 105.2381689 ,
       128.79985217,  67.93181256, 111.14394777, 107.12604133,
       102.15605926,  93.88558913,  84.66154477,  95.30835248,
       100.2478269 ,  99.35126815, 119.74795331, 104.48150906,
        83.054332  , 102.93925534,  90.81529132,  95.62143486,
       102.36938956, 106.25610546,  98.48743817,  98.94758839,
       134.03928954,  80.98218772,  91.50227943, 110.75339472,
       122.07876371,  89.88780937, 103.32608503, 110.89002653,
        78.27946244,  88.87472284,  90.64669109, 107.84431161,
       113.79080614, 104.63505139, 110.28714875,  90.07768586,
       106.42767865, 105.10153625,  84.84294606,  83.56813744,
        75.58538533,  83.76968091, 116.6163646 , 102.91121293,
        88.26509325, 120.79351005,  56.81444966,  90.30137872,
       104.60054073,  96.95868375,  96.55054117,  89.54491506,
        75.18254954,  90.96379268,  98.80656387,  95.02929181,
       121.15562608,  99.97007725,  66.06959273, 135.35768222,
       108.90449545, 110.16597458, 114.45908225,  67.09809642,
        73.14675493,  91.33249836,  94.89783631,  86.29619455,
       111.49837941, 113.19536113,  86.69457265,  96.44938948,
        82.64905484,  87.83115481,  97.84128369, 108.062334  ,
       100.19347967, 126.87192146, 105.02280564,  82.73759799,
        92.9734462 , 102.44984862, 118.91163722,  75.17343326,
       122.97576123, 101.7858573 ,  67.84620779,  70.82734329,
        85.66878008,  94.63984484,  98.41896864,  83.37479881,
        78.84720902,  86.60973382, 100.88167616,  99.41440138,
       101.47331701, 105.18532565,  98.8900642 , 112.60629595,
       119.24552577, 103.26552546, 105.99526909,  98.5181677 ,
       102.52889967,  92.68574445, 129.94061644, 105.87200475,
       105.69135903, 108.48867987,  81.37514182, 114.58331173,
        92.38737494,  69.997642  ,  85.60544084, 113.84505733,
       102.85295414,  80.68065186, 112.781907  , 117.05823416,
        94.77864613, 106.45414429,  94.841679  , 109.64689917,
       110.94631091,  93.02551657,  86.73477024,  91.76861062,
       122.25535703, 114.72270887, 115.2347939 , 114.08104426,
       123.1916445 , 114.71312189, 119.05769211, 124.40378756,
        90.98341031,  78.55473444, 111.79622886,  78.06647426,
        96.54069323,  82.92967732,  83.07568551,  86.54611159,
       104.63323159, 101.88781899,  98.97650095,  88.23057717,
       101.34205622,  97.39321751, 103.17645317, 112.6729432 ,
        78.36280406, 120.65952948, 101.5141193 , 105.61228408,
       129.50769779, 116.34568404, 111.05745522, 114.07937777,
        74.72869741,  84.94744945,  97.68879206,  91.80501892,
        98.44057585,  78.39024292,  78.10022625,  82.87750796,
        66.82893887,  98.50433818, 107.58931302,  96.90239425,
       106.54313051,  87.13641324, 114.49773018,  99.74132407,
        91.9156789 , 114.0696731 ,  92.62688809,  85.92432803,
       120.3324095 ,  67.6974125 , 106.32612434, 117.10377846,
       105.25735082, 110.04409689,  77.83454854,  94.20932192,
        98.81971812, 100.8038565 , 101.02471508, 110.46806286,
        83.40463906,  95.99935488,  90.82697071,  97.06872193,
       120.22042767,  94.63614363,  78.63999788,  98.37295473,
        93.53157454,  99.03763184,  98.50686113,  91.50851651,
       106.9243952 , 125.54363547, 120.08105584,  90.26259642,
        82.02037913,  97.81061952, 107.61173965, 107.20903805,
        82.98741848,  99.36260566, 120.45080699, 101.67391487,
       108.02416444, 105.16708843, 105.8982127 ,  84.63049594,
        97.83215198,  94.75456164, 105.23934748,  91.23729271,
        80.92239116,  97.63902123,  96.44154128,  98.83621814,
       126.0247566 ,  96.44672623,  91.84929999,  69.14794646,
        95.19946856,  93.10119719, 112.88855413,  89.69901218,
        97.39137814, 120.35273985, 105.00378319, 104.39004995,
       107.75211929, 111.48325525,  79.6958141 , 111.24165464,
       116.61317285, 119.78571344, 111.75099697,  83.84566935,
        93.24126997, 125.2253543 ,  86.59607593,  82.83583002,
        83.73907035, 107.30885212, 102.60943843,  99.23692794,
       106.50377317, 118.45798619,  80.6000982 ,  80.52320198,
       115.07853607, 103.58432422, 116.44552929, 116.07046424,
        78.11543947, 111.00739615,  98.03373324, 128.63398174,
       124.60595105, 122.62277274, 106.3977294 ,  87.83695691,
        98.55858533, 115.18560892,  72.43061184,  96.97161855,
        82.94312742,  99.26578338,  98.21798852, 104.01848495,
        89.73146675,  64.44361846, 120.33631307, 100.29864078,
        78.64049991, 103.62352788,  88.11520508, 106.04678971,
       114.09296302,  95.95630283, 108.43402941, 113.58068569,
        87.50567689, 109.55231676,  90.90383587,  85.40723105,
        83.65544145, 120.11098811, 106.81862395, 112.36567648,
       117.13574762, 101.55168551,  74.61917306,  92.34247411,
       110.89855956, 121.06537872, 100.2369794 ,  81.72211826,
        74.13939764,  98.83743149,  97.18365431,  93.9068795 ,
       109.95783065,  59.12946357,  79.79382862,  98.80503742,
        98.06916383, 127.58418446, 113.20568347,  65.41556774,
        92.15465494,  75.26496744, 110.74713517, 102.56486844,
       102.77154505, 114.57689999,  84.3020173 ,  84.85655617,
        86.1399352 , 103.91536981,  85.61879647, 120.66875017,
       105.79382385,  87.27067912,  93.3301862 ,  73.86917598,
       117.44791115,  91.70633859, 107.01841825,  69.42211962,
        86.99368076, 101.45339658, 116.74800747, 121.96551457,
        96.0216495 , 113.1175076 , 103.45157242,  99.13138654,
        95.15425582,  69.61173724,  98.76853187, 106.04582878,
        82.32164889, 126.02529211,  99.30465522, 100.60762899,
       111.34279058, 107.44929156, 103.65286775, 104.61338035,
        92.84420815,  88.69310112, 112.1651076 , 114.39916508,
        99.73251151,  96.21536363,  73.93707224, 109.34202651,
        96.91223206, 100.34565687,  97.50047961,  70.64913684,
        81.27285613, 103.31170343,  74.47494837,  94.86987209,
       133.96181134,  85.1586643 , 104.13558933,  90.79426059,
       111.12000508, 115.54526702,  95.82451615,  99.40122403,
       100.26119699, 106.02743631, 121.52055385,  87.80104677,
        93.25898351, 125.90238325,  93.61203677,  96.20567989,
        92.09577004,  85.40250255, 102.59512725,  94.31073137,
       111.43918314, 107.49338349,  64.9016955 ,  96.41034191,
        83.23173062,  95.82355289,  99.87528383, 102.43325912,
        90.9798289 , 112.39595948, 100.42688609, 103.65386127,
        99.12227134, 101.78870597,  89.05798091,  94.97214962,
       106.56355508,  86.2658795 ,  87.53868759,  94.64243276,
        79.01029745,  84.80888646,  86.54705623, 101.06072437,
       111.57080275,  99.06540018, 108.90267231, 111.48420973,
        85.44966492, 102.48839148, 106.84435067,  90.43968064,
       108.34248662,  85.18482433, 114.06219416,  66.1094004 ,
        90.94199235,  93.12926483, 103.15210382, 105.10479106,
       108.75936468,  92.62136566,  94.28856288, 100.21839482,
        90.58684114, 117.90320081,  82.31938316,  90.09168391,
       119.95763945,  98.81490968,  85.67534105,  96.96522391,
        96.14258529,  68.85846974, 116.54629298, 116.74595521,
       101.24158983, 109.55754024, 120.77293917,  85.52469093,
       103.18708036, 103.3371973 , 104.07900036,  71.71058139,
        79.58117342, 112.12492665,  85.27357061,  86.23655089,
        95.32940031,  92.77530555, 115.84289845,  94.72467371,
       112.61081183,  85.69469544, 124.69330867, 100.93866673,
       112.18161806,  89.10969709, 123.26740268,  98.41460354,
       126.59604401,  96.87812804, 103.47470839,  95.26089194,
       117.93162919, 105.33831171,  92.63920713,  85.72139341,
       113.16184366, 106.87946969, 101.17766125, 114.47571748,
       102.34941436, 109.62508809,  88.53899989, 106.97966921,
       113.52944406, 118.43287092, 143.76688388, 112.71153639,
        99.78437194,  98.79410282,  95.08370589, 117.72632599,
        99.37246526,  89.11583926, 112.8190197 , 105.97885975,
        69.83893327,  91.45657845,  83.4139205 ,  80.23066119,
        87.45122373, 123.06194082,  92.22916177,  73.06164875,
       114.05405535, 105.96212746,  96.5469267 ,  74.3648582 ,
        94.30319125, 115.03905769, 120.41840349, 114.62238087,
        81.9885339 ,  79.97224288, 122.59262402, 110.23374246,
        94.05884482,  75.11052092,  79.87333011, 123.97940819,
       104.29867048, 118.82666363,  96.15807623, 120.44986413,
       131.88286385, 106.88981079,  83.42494021,  93.23665078,
        81.3025002 ,  97.84820565,  77.54486507, 100.72606704,
        81.4968593 , 115.89985616,  81.99440568,  89.45389495,
        84.6931241 , 105.52827982, 110.8330649 , 120.69281065,
       103.09169012, 112.38949075, 103.50176568, 100.96763576,
        96.70447138,  86.94370756, 105.32411804, 108.04591733,
       118.30371984, 133.66228289,  85.79824293,  93.09115606,
        93.27326247,  96.6424134 , 103.21228899, 109.41012624,
       112.25133772, 116.34378593,  90.52156922,  91.28122531,
        99.90156353,  89.49572317, 112.36739329,  96.32086805,
        87.22624916,  99.94180883,  99.1824595 , 100.63369478,
       124.16026827,  92.91125724, 125.99491664,  71.88772917,
       116.4275596 , 100.06264956, 102.27437274,  88.88737899,
        99.97374318, 101.03130287,  92.59263135,  92.53172648,
        99.5037352 ,  97.6207822 , 111.30933838,  91.8363408 ,
       104.8062771 , 117.73010714,  99.44682361, 104.08631539,
        87.37700552, 120.86602263,  58.07398119,  96.06811173,
        81.15801008, 129.69917449,  90.55928798, 108.87294423,
       118.99464302, 110.53459256, 107.5669578 ,  92.74569984,
        93.18525514, 103.90262372, 120.25075336, 111.71857823,
       105.94768292,  93.91047248,  82.97674403,  70.65452242,
       130.20373092, 101.65464526,  99.48671924,  98.04213004,
        93.58461854,  70.44635946,  84.2103227 , 104.0344866 ,
        83.68282389, 100.2833107 , 110.81685566, 103.60168232,
        83.75887896, 120.78598148,  76.22933567,  90.85778685,
        97.27531882, 105.66808354, 101.23545978,  85.98506018,
       101.2424426 ,  91.81563436,  75.40898639, 103.3516843 ,
       110.23939999,  98.44064993,  97.17681335, 116.4324928 ,
        73.18225207, 104.09091786, 112.81050402,  87.92815828,
       103.91131091, 121.68490368, 105.26103661, 119.07865084,
        84.43537119,  90.09306811,  93.05230037,  86.26446731,
       113.85062334,  81.78736596, 107.89403355, 116.40637711,
        78.41158111,  85.87514328, 122.64732754, 109.85137067,
        98.11111972,  90.8688769 ,  94.65191835,  96.79638999,
        97.80831011,  95.15349074, 126.54041581,  77.14620677,
       109.05789874,  96.47351017, 111.01128289, 106.65232382,
       126.32067462,  88.67479241, 132.93565789, 117.4464357 ,
       115.675547  ,  94.99224194,  86.66799383, 120.38348913,
       118.93395386,  95.19136395,  97.10018335, 107.55976018,
       127.74523891,  83.21163903,  90.49687052, 112.22741562,
       117.06260112, 103.58704036,  78.01402655,  88.89313779,
       101.51235266, 115.71799757, 105.66161425, 129.0322531 ,
       123.3218156 ,  97.36401542, 106.98435802, 113.31873572,
       106.25014679,  92.5579222 ,  97.48811974,  85.6206562 ,
        65.22152033, 133.62012274, 110.46156886, 100.98689973,
        72.04466782, 114.25722342,  87.37600952,  94.9274308 ,
       118.06702221,  84.36638737, 110.59085988,  84.84085382,
       112.32010983,  95.74165255, 103.91090289,  82.68701996,
       111.70223853,  87.86023643,  80.74850408,  87.85454329,
       118.47579957, 106.92451117, 103.48994758,  96.01022162,
        96.81709729, 129.80355127,  85.74451304,  92.24676331,
       108.36221858,  68.60194927,  89.29510157, 111.8423879 ,
        91.0423252 ,  98.34447686, 132.32118723, 104.28477809,
       120.34800466, 116.65983053,  90.05124874, 112.85582456,
       115.04866267,  99.79478865,  94.07940314,  86.91459654,
       115.73213949,  82.10902469, 106.62045891,  89.64223771,
       115.41359064,  91.14073189, 126.53115015,  77.21710046,
       111.41466065, 120.11774821,  98.33135468, 104.40919044,
        99.89492781, 108.23572793,  80.51433326,  74.71180078,
        83.40039175,  71.07937135,  80.46541079, 101.88290288,
        82.46002945,  91.25739392, 107.51358982, 117.34383371,
        99.9328082 ,  94.09706046,  89.52370777,  71.96228629,
        91.65638457, 111.45114788, 110.71043845, 120.96305763,
       113.99427882, 127.36844798,  82.87380834,  86.57265665,
       125.88022795,  96.2003532 ,  85.85929055, 115.73056605,
       115.81013255,  93.0153391 ,  74.84157112, 103.28879467,
       113.36607939,  76.43709904,  90.39059586,  87.72305558,
       108.74527918,  91.07711157,  81.38358516,  75.21489788,
        96.90111415,  95.14551246, 124.42718842, 116.49984907,
       109.85433114,  90.81702133, 117.88503719,  88.37652825,
       103.86154547, 101.96723068,  91.08319851, 108.99553347,
        87.36761071, 102.37411479,  82.13885303, 104.22484959,
        68.51225756, 120.65760223,  77.40675338,  75.94735598,
        91.36865133, 112.68814399, 106.21947577,  97.50657415,
       105.99029955, 126.84456636, 100.26788806, 129.14926382,
       108.65325642,  95.191136  , 104.45393612, 101.68536692,
        81.00877582,  95.22391129,  88.17213572,  98.18864473,
        60.64752532, 106.55100661,  87.77733022,  97.82466909,
        98.07690794, 101.56238593,  95.46384772,  90.7411401 ,
        89.41472234,  62.06434625, 102.95199258,  94.32887034,
        88.70871659, 110.82065919, 102.2940418 , 101.9954043 ,
        70.72864547, 116.07878991,  83.69943368,  88.54037318,
       106.16390493, 122.7451117 ,  96.06685299, 109.71545029,
       109.89917163, 110.78616744, 102.60856966, 105.24915665,
       104.07034183,  95.14977968, 112.49078776, 110.88275742,
        93.54250947,  88.35695611,  73.82851622, 107.88692523,
        89.21704936,  81.56650298, 120.74454444, 118.64747881,
       116.30730542, 105.62058859,  81.30469134, 104.64284361,
        99.24482859,  96.08582571, 118.05797912,  85.17846477,
        70.8933389 ,  81.46136779, 100.28345539,  96.54549603,
        87.7278228 , 102.95641577,  76.03135315, 124.92638017,
       115.68102325,  72.33386887,  89.29328707,  81.9471297 ,
       112.31080404, 122.22684196, 101.518349  ,  88.28613004,
        78.11415427, 105.8677522 , 106.56837132,  60.71881132,
        91.61332384,  81.38739251,  72.80790359, 105.44766552,
        97.75374727, 116.36997404, 115.97651258, 108.03085479,
       111.88396567,  89.85875822, 101.1014397 ,  94.09768933,
        99.5428018 ,  93.24243903,  94.350269  ,  93.61535933,
       117.12457192, 127.80528579, 100.17236466, 101.50551119,
       101.21708078, 107.61560425, 130.82318025, 106.09786026,
       101.24612212, 115.04977133, 120.26187005,  72.86605759,
        87.71466898,  95.98847546, 104.90898831, 125.19791033,
        82.69250048, 110.36406322, 118.12268086, 107.62811955,
       115.54053238, 131.70741833,  99.0521789 , 105.10800334,
       112.39003297, 135.11176918,  77.39946416,  87.62520281,
        88.71540009,  82.7956546 ,  83.48882713, 100.86097711,
       116.91555785,  98.22187977,  89.98673632, 105.58992901,
        95.2909504 , 130.72457435,  95.70409631,  81.04508126,
       110.83798364,  68.59157059, 101.19246959,  91.08040264,
        90.9477714 , 104.33527881,  79.78961282, 125.92450819])

Compute the **mean**, **median**, and **mode**

In [10]:
mean = np.mean(samples)
median = np.median(samples)
mode =stats.mode(samples)
print(mean)
print(median)
print(mode)

99.46469828545806
99.38684464544204
ModeResult(mode=array([56.81444966]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [13]:
min = np.min(samples)
max = np.max(samples)
q1 = np.percentile(samples, 25)
q3 =np.percentile(samples, 75)
iqr =stats.iqr(samples)

print(min)
print(max)
print(q1)
print(q3)
print(iqr)

56.81444965872258
143.766883877925
89.29464794416687
110.38843963250105
21.09379168833418

In [15]:
iqr = q3-q1
print(iqr)

21.09379168833418

Compute the **variance** and **standard deviation**

In [21]:
variance = np.var(samples)
std_dev = np.std(samples)
print(variance)
print(std_dev)

218.29078574374248
14.7746670264931

In [23]:
std = np.sqrt(np.var(samples))
print(std)

14.7746670264931

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [25]:
skewness =stats.skew(samples)
kurtosis = stats.kurtosis(samples)
print(skewness)
print(kurtosis)

-0.07203497449251407
-0.3057627354485142

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [28]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [33]:
y = np.array([1, 3, 5, 6, 8, 5, 7, 6, 8, 9])
y

array([1, 3, 5, 6, 8, 5, 7, 6, 8, 9])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [35]:
r = np.corrcoef(x, y)
r

array([[1.        , 0.84212907],
       [0.84212907, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [37]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
print(x)
print(y)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0     2
1     1
2     4
3     5
4     8
5    12
6    18
7    25
8    96
9    48
dtype: int64

Call the relevant method  to calculate Pearson's r correlation.

In [64]:


r = x.corr(y, method= "pearson")
r

0.7586402890911867

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [67]:

rho = x.corr(y, method="spearman")
rho

0.9757575757575757

## Seaborn Dataset Tips

Import Seaborn Library

In [42]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [44]:
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [48]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [49]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [50]:
tips.corr(method= "spearman")

            total_bill       tip      size
total_bill    1.000000  0.678968  0.604791
tip           0.678968  1.000000  0.468268
size          0.604791  0.468268  1.000000

In [51]:
tips.corr(method= "kendall")

            total_bill       tip      size
total_bill    1.000000  0.517181  0.484342
tip           0.517181  1.000000  0.378185
size          0.484342  0.378185  1.000000